In [1]:
import pandas as pd

/Users/dhkim/PycharmProjects/untitled/venv/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
company_list = pd.read_excel('/Users/dhkim/Downloads/코스피_800.xls', sep=',')
company_names = company_list['기업명'].values

In [3]:
company_list

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분
0,1,95570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW)
1,2,6840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW)
2,3,27410,BGF,116409,기타 금융업,"95,716,791","95,716,791,000","1,000",NaN
3,4,282330,BGF리테일,74701,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW)
4,5,138930,BNK금융지주,116409,기타 금융업,"325,935,246","1,629,676,230,000","5,000",원(KRW)
...,...,...,...,...,...,...,...,...,...
795,796,79980,휴비스,32005,화학섬유 제조업,"34,500,000","172,500,000,000","5,000",원(KRW)
796,797,5010,휴스틸,32401,1차 철강 제조업,"7,621,668","38,108,340,000","5,000",원(KRW)
797,798,69260,휴켐스,32004,기타 화학제품 제조업,"40,878,588","40,878,588,000","1,000",원(KRW)
798,799,540,흥국화재,116501,보험업,"64,242,645","325,821,225,000","5,000",원(KRW)
799,800,3280,흥아해운,85001,해상 운송업,"112,112,392","56,056,196,000",500,원(KRW)

In [114]:
company_names

array(['AJ네트웍스', 'AK홀딩스', 'BGF', 'BGF리테일', 'BNK금융지주', 'BYC', 'CJ',
       'CJ CGV', 'CJ대한통운', 'CJ씨푸드', 'CJ제일제당', 'CS홀딩스', 'DB', 'DB금융투자',
       'DB손해보험', 'DB하이텍', 'DGB금융지주', 'DRB동일', 'DSR', 'DSR제강', 'E1', 'F&F',
       'GKL', 'GS', 'GS건설', 'GS글로벌', 'GS리테일', 'HDC', 'HDC아이콘트롤스',
       'HDC현대EP', 'HDC현대산업개발', 'HSD엔진', 'JB금융지주', 'JW생명과학', 'JW중외제약',
       'JW홀딩스', 'KB금융', 'KC그린홀딩스', 'KC코트렐', 'KEC', 'KG케미칼', 'KISCO홀딩스',
       'KPX케미칼', 'KPX홀딩스', 'KR모터스', 'KSS해운', 'KTB투자증권', 'KTcs', 'KTis',
       'LF', 'LG', 'LG디스플레이', 'LG상사', 'LG생활건강', 'LG유플러스', 'LG이노텍', 'LG전자',
       'LG하우시스', 'LG헬로비전', 'LG화학', 'LIG넥스원', 'LS', 'LS네트웍스', 'LS산전',
       'LS전선아시아', 'MH에탄올', 'NAVER', 'NH투자증권', 'NH프라임리츠', 'NICE', 'NI스틸',
       'OCI', 'S&TC', 'S&T모티브', 'S&T중공업', 'S&T홀딩스', 'S-Oil', 'SBS',
       'SBS미디어홀딩스', 'SG세계물산', 'SG충방', 'SH에너지화학', 'SIMPAC', 'SK', 'SKC',
       'SK가스', 'SK네트웍스', 'SK디스커버리', 'SK디앤디', 'SK렌터카', 'SK이노베이션', 'SK증권',
       'SK케미칼', 'SK텔레콤', 'SK하이닉스', 'SPC삼립', 'STX', 'STX엔진', 'STX중공업',
       'TCC스틸', 'WISCOM', 'YG PLUS', '가온전선', '강남제비스코', '강원랜드', '갤럭시아에스엠',
       '경농', '경동나비엔', '경동도시가스', '경동인베스트', '경방', '경보제약', '경인양행', '경인전자',
       '계룡건설산업', '계양전기', '고려개발', '고려산업', '고려아연', '고려제강', '광동제약', '광명전기',
       '광전자', '광주신세계', '교보증권', '국도화학', '국동', '국제약품', '그린케미칼', '극동유화',
       '금강공업', '금비', '금양', '금호산업', '금호석유화학', '금호에이치티', '금호전기', '금호타이어',
       '기신정기', '기아자동차', '기업은행', '까뮤이앤씨', '깨끗한나라', '나노메딕스', '남광토건',
       '남선알미늄', '남성', '남양유업', '남영비비안', '남해화학', '넥센', '넥센타이어', '넥스트사이언스',
       '넷마블', '노루페인트', '노루홀딩스', '녹십자', '녹십자홀딩스', '농심', '농심홀딩스', '다스코',
       '다우기술', '대교', '대구백화점', '대덕전자', '대동공업', '대동전자', '대림비앤코', '대림산업',
       '대림씨엔에스', '대림통상', '대상', '대상홀딩스', '대성산업', '대성에너지', '대성홀딩스', '대신증권',
       '대양금속', '대영포장', '대우건설', '대우부품', '대우조선해양', '대웅', '대웅제약', '대원강업',
       '대원전선', '대원제약', '대원화성', '대유에이텍', '대유플러스', '대창', '대창단조', '대한방직',
       '대한유화', '대한전선', '대한제강', '대한제당', '대한제분', '대한항공', '대한해운', '대한화섬',
       '대현', '대호에이엘', '더블유게임즈', '더존비즈온', '덕성', '덕양산업', '덴티움', '도화엔지니어링',
       '동국제강', '동남합성', '동방', '동방아그로', '동부건설', '동부제철', '동북아12호선박투자',
       '동북아13호선박투자', '동서', '동성제약', '동성코퍼레이션', '동성화학', '동아쏘시오홀딩스', '동아에스티',
       '동아지질', '동아타이어', '동양', '동양고속', '동양네트웍스', '동양물산기업', '동양생명', '동양철관',
       '동양피스톤', '동원F&B', '동원금속', '동원산업', '동원수산', '동원시스템즈', '동일고무벨트',
       '동일산업', '동일제강', '동화약품', '두산', '두산건설', '두산밥캣', '두산솔루스', '두산인프라코어',
       '두산중공업', '두산퓨얼셀', '두올', '드림텍', '디씨엠', '디아이', '디아이동일', '디아이씨',
       '디와이', '디와이파워', '디티알오토모티브', '디피씨', '락앤락', '롯데관광개발', '롯데리츠',
       '롯데손해보험', '롯데쇼핑', '롯데정밀화학', '롯데정보통신', '롯데제과', '롯데지주', '롯데칠성음료',
       '롯데케미칼', '롯데푸드', '롯데하이마트', '마니커', '만도', '만호제강', '맥쿼리인프라', '맵스리얼티1',
       '메디파트너생명공학', '메리츠금융지주', '메리츠종금증권', '메리츠화재', '메타랩스', '명문제약', '모나리자',
       '모나미', '모두투어리츠', '모토닉', '무림P&P', '무림페이퍼', '무학', '문배철강', '미래산업',
       '미래아이앤지', '미래에셋대우', '미래에셋생명', '미원상사', '미원에스씨', '미원홀딩스', '미원화학',
       '미창석유공업', '바다로19호', '방림', '백광산업', '백광소재', '백산', '범양건영', '베트남개발1',
       '벽산', '보락', '보령제약', '보해양조', '부광약품', '부국증권', '부국철강', '부산도시가스',
       '부산산업', '부산주공', '비상교육', '비티원', '빙그레', '사조대림', '사조동아원', '사조산업',
       '사조씨푸드', '사조오양', '삼광글라스', '삼부토건', '삼성SDI', '삼성공조', '삼성물산',
       '삼성바이오로직스', '삼성생명', '삼성에스디에스', '삼성엔지니어링', '삼성전기', '삼성전자', '삼성제약',
       '삼성중공업', '삼성증권', '삼성출판사', '삼성카드', '삼성화재해상보험', '삼아알미늄', '삼양사',
       '삼양식품', '삼양통상', '삼양패키징', '삼양홀딩스', '삼영무역', '삼영전자공업', '삼영화학공업',
       '삼원강재', '삼익THK', '삼익악기', '삼일제약', '삼정펄프', '삼진제약', '삼천리', '삼호',
       '삼호개발', '삼화왕관', '삼화전기', '삼화전자공업', '삼화콘덴서공업', '삼화페인트공업', '상상인증권',
       '상신브레이크', '새론오토모티브', '샘표', '샘표식품', '서연', '서연이화', '서울도시가스',
       '서울식품공업', '서원', '서흥', '선도전기', '선진', '선창산업', '성문전자', '성보화학', '성신양회',
       '성안', '성창기업지주', '세기상사', '세방', '세방전지', '세아베스틸', '세아제강', '세아제강지주',
       '세아특수강', '세아홀딩스', '세우글로벌', '세원셀론텍', '세원정공', '세이브존I&C', '세종공업',
       '세진중공업', '세하', '세화아이엠씨', '센트랄모텍', '셀트리온', '송원산업', '수산중공업', '시디즈',
       '신대양제지', '신도리코', '신라교역', '신성이엔지', '신성통상', '신세계', '신세계I&C', '신세계건설',
       '신세계인터내셔날', '신세계푸드', '신송홀딩스', '신영와코루', '신영증권', '신원', '신일산업',
       '신풍제약', '신풍제지', '신한', '신한알파리츠', '신한지주', '신화실업', '신흥', '쌍방울',
       '쌍용양회공업', '쌍용자동차', '써니전자', '씨아이테크', '씨에스윈드', '아남전자', '아모레퍼시픽',
       '아모레퍼시픽그룹', '아세아', '아세아시멘트', '아세아제지', '아시아나IDT', '아시아나항공',
       '아이마켓코리아', '아이에스동서', '아이에이치큐', '아주캐피탈', '알루코', '애경산업', '애경유화',
       '에넥스', '에스엘', '에스원', '에스제이엠', '에스제이엠홀딩스', '에쓰씨엔지니어링', '에어부산',
       '에이리츠', '에이블씨엔씨', '에이엔피', '에이프로젠 KIC', '에이프로젠제약', '엔씨소프트', '엔에스쇼핑',
       '엔에이치엔', '엔케이', '엔케이물산', '엔피씨', '엘브이엠씨', '영보화학', '영원무역', '영원무역홀딩스',
       '영진약품', '영풍', '영풍제지', '영화금속', '영흥철강', '예스코홀딩스', '오뚜기', '오렌지라이프',
       '오리엔트바이오', '오리온', '오리온홀딩스', '용평리조트', '우리금융지주', '우리들제약', '우리들휴브레인',
       '우리종금', '우성사료', '우신시스템', '우진', '우진아이엔에스', '우진플라임', '웅진', '웅진씽크빅',
       '웅진에너지', '웅진코웨이', '원림', '웰바이오텍', '윌비스', '유나이티드', '유니드', '유니온',
       '유니온머티리얼', '유니켐', '유니퀘스트', '유성기업', '유수홀딩스', '유안타증권', '유양디앤유',
       '유엔젤', '유유제약', '유진증권', '유한양행', '유화증권', '율촌화학', '이건산업', '이구산업',
       '이노션', '이리츠코크렙', '이마트', '이수페타시스', '이수화학', '이스타코', '이아이디', '이연제약',
       '이월드', '이화산업', '인디에프', '인스코비', '인지컨트롤스', '인천도시가스', '인터지스', '인팩',
       '일동제약', '일동홀딩스', '일성건설', '일성신약', '일신방직', '일신석재', '일양약품', '일정실업',
       '일진다이아', '일진디스플', '일진머티리얼즈', '일진전기', '일진홀딩스', '잇츠한불', '자이에스앤디',
       '자화전자', '전방', '제이에스코퍼레이션', '제이준코스메틱', '제이콘텐트리', '제일기획', '제일약품',
       '제일연마', '제일파마홀딩스', '제주은행', '제주항공', '조광페인트', '조광피혁', '조비', '조선내화',
       '조선선재', '조일알미늄', '조흥', '종근당', '종근당바이오', '종근당홀딩스', '주연테크', '지누스',
       '지엠비코리아', '지역난방공사', '지코', '지투알', '진도', '진양산업', '진양폴리우레탄', '진양홀딩스',
       '진양화학', '진에어', '진원생명과학', '진흥기업', '참엔지니어링', '천일고속', '청호컴넷', '체시스',
       '카리스국보', '카카오', '카프로', '컨버즈', '케이비아이동국실업', '케이씨', '케이씨씨',
       '케이씨씨글라스', '케이씨텍', '케이씨티시', '케이탑리츠', '케이티', '케이티스카이라이프', '케이티앤지',
       '코리아써키트', '코리아오토글라스', '코리안리', '코스맥스', '코스맥스비티아이', '코스모신소재',
       '코스모화학', '코아스', '코오롱', '코오롱글로벌', '코오롱머티리얼', '코오롱인더', '코오롱플라스틱',
       '콤텍시스템', '쿠쿠홀딩스', '쿠쿠홈시스', '큐로', '크라운제과', '크라운해태홀딩스', '키다리스튜디오',
       '키움증권', '키위미디어그룹', '태경산업', '태경화학', '태광산업', '태림포장', '태양금속공업',
       '태영건설', '태원물산', '태평양물산', '테이팩스', '텔코웨어', '토니모리', '티비에이치글로벌',
       '티에이치엔', '티웨이항공', '티웨이홀딩스', '파미셀', '팜스코', '팬오션', '퍼스텍', '퍼시스',
       '페이퍼코리아', '평화산업', '평화홀딩스', '포스코', '포스코강판', '포스코인터내셔널', '포스코케미칼',
       '폴루스바이오팜', '풀무원', '풍산', '풍산홀딩스', '필룩스', '하나금융지주', '하나니켈1호',
       '하나니켈2호', '하나제약', '하나투어', '하이골드12호', '하이골드3호', '하이골드8호', '하이스틸',
       '하이트론씨스템즈', '하이트진로', '하이트진로홀딩스', '한국ANKOR유전', '한국가스공사', '한국공항',
       '한국금융지주', '한국내화', '한국단자공업', '한국석유공업', '한국수출포장공업', '한국쉘석유',
       '한국자산신탁', '한국전력공사', '한국전자홀딩스', '한국제지', '한국조선해양', '한국종합기술', '한국주강',
       '한국주철관공업', '한국철강', '한국카본', '한국콜마', '한국콜마홀딩스', '한국타이어앤테크놀로지',
       '한국테크놀로지그룹', '한국토지신탁', '한국특수형강', '한국패러랠', '한국프랜지공업', '한국항공우주',
       '한국화장품', '한국화장품제조', '한농화성', '한독', '한라', '한라홀딩스', '한미글로벌', '한미반도체',
       '한미사이언스', '한미약품', '한샘', '한섬', '한성기업', '한세실업', '한세엠케이', '한세예스24홀딩스',
       '한솔로지스틱스', '한솔제지', '한솔케미칼', '한솔테크닉스', '한솔피엔에스', '한솔홀딩스', '한솔홈데코',
       '한신공영', '한신기계공업', '한양증권', '한온시스템', '한올바이오파마', '한익스프레스', '한일시멘트',
       '한일철강', '한일현대시멘트', '한일홀딩스', '한전KPS', '한전기술', '한전산업', '한진', '한진중공업',
       '한진중공업홀딩스', '한진칼', '한창', '한창제지', '한화', '한화갤러리아타임월드', '한화생명',
       '한화손해보험', '한화솔루션', '한화시스템', '한화에어로스페이스', '한화투자증권', '해성디에스',
       '해태제과식품', '핸즈코퍼레이션', '현대건설', '현대건설기계', '현대그린푸드', '현대글로비스', '현대로템',
       '현대리바트', '현대모비스', '현대미포조선', '현대백화점', '현대비앤지스틸', '현대상선', '현대약품',
       '현대에너지솔루션', '현대에이치씨엔', '현대엘리베이터', '현대오토에버', '현대위아', '현대일렉트릭',
       '현대자동차', '현대제철', '현대종합상사', '현대중공업지주', '현대차증권', '현대코퍼레이션홀딩스',
       '현대해상', '현대홈쇼핑', '형지엘리트', '혜인', '호전실업', '호텔신라', '화성산업', '화승알앤에이',
       '화승엔터프라이즈', '화승인더스트리', '화신', '화인베스틸', '화천기계', '화천기공', '환인제약',
       '황금에스티', '효성', '효성 ITX', '효성중공업', '효성첨단소재', '효성티앤씨', '효성화학', '후성',
       '휠라홀딩스', '휴니드테크놀러지스', '휴비스', '휴스틸', '휴켐스', '흥국화재', '흥아해운'],
      dtype=object)

In [117]:
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus
import urllib
import json
from pprint import pprint

In [160]:
url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
decode_key = unquote('2cJ3wHYxZ7tLO8fc%2FU6B8jutjQd%2F6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ%3D%3D')
# decode_key = '2cJ3wHYxZ7tLO8fc%2FU6B8jutjQd%2F6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ%3D%3D'
queryParams = '?' + urlencode({
    quote_plus('pageNo') : '1',
    quote_plus('numOfRows') : '10',
    quote_plus('resultType') : 'json',
    quote_plus('ServiceKey') : decode_key})
print(url + queryParams)
request = Request(url + queryParams)
request.get_method = lambda: 'GET'
response = urlopen(request)
rescode = response.getcode()
response_body = response.read()
dict_ = json.loads(response_body.decode('utf-8'))
dict_

http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline?pageNo=1&numOfRows=10&resultType=json&ServiceKey=2cJ3wHYxZ7tLO8fc%2FU6B8jutjQd%2F6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ%3D%3D

{'response': {'body': {'items': {'item': [{'basDt': '20200627',
      'crno': '2148140009471',
      'corpNm': '(유)서해푸드',
      'corpEnsnNm': '',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '',
      'corpDcdNm': '',
      'bzno': '',
      'enpOzpno': '',
      'enpBsadr': '전라북도 김제시',
      'enpDtadr': '순동2길 201 (순동)',
      'enpHmpgUrl': '',
      'enpTlno': '01086737717',
      'enpFxno': '',
      'sicNm': '',
      'enpEstbDt': '',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': '',
      'enpMntrBnkNm': '',
      'enpEmpeCnt': '0',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '2148140009471',
      'corpNm': '(유)서해푸드',
      'corpEnsnNm': '',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '',
      'corpDcdNm': '',
      'bzno': '',
      'enpOzpno': '',
      'enpBsadr': '전라북도 김제시',
      'enpDtadr': '순동2길 201 (순동)',
      'enpHmpgUrl': '',
      'enpTlno': '01086737717',
      'enpFxno': '',
      'sicNm': '',
      'enpEstbDt': '',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': '',
      'enpMntrBnkNm': '',
      'enpEmpeCnt': '0',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '2001110001340',
      'corpNm': '일신건설',
      'corpEnsnNm': 'Illshin Construction Co.,Ltd.',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '이관행',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '04',
      'corpDcdNm': '주식회사',
      'bzno': '',
      'enpOzpno': '',
      'enpBsadr': '',
      'enpDtadr': '',
      'enpHmpgUrl': '',
      'enpTlno': '',
      'enpFxno': '062 2361110',
      'sicNm': '',
      'enpEstbDt': '05',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': '',
      'enpMntrBnkNm': '광주 문화전당',
      'enpEmpeCnt': '35',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '주택건설',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '2111110043406',
      'corpNm': '가원',
      'corpEnsnNm': 'Gawon',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '강형미',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '04',
      'corpDcdNm': '주식회사',
      'bzno': '6138600023',
      'enpOzpno': '54140',
      'enpBsadr': '전라북도 군산시 백토로 182',
      'enpDtadr': '3층 (나운동)',
      'enpHmpgUrl': '',
      'enpTlno': '0634667333',
      'enpFxno': '063 4667323',
      'sicNm': 'F',
      'enpEstbDt': '03',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': 'Y',
      'enpMntrBnkNm': '신한 새만금금융센터',
      'enpEmpeCnt': '2',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '부동산신축판매',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '2001140060902',
      'corpNm': '프라임디앤씨',
      'corpEnsnNm': '',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '이현철',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '07',
      'corpDcdNm': '유한회사',
      'bzno': '8568600144',
      'enpOzpno': '61975',
      'enpBsadr': '광주광역시 서구 화운로155번길 7',
      'enpDtadr': ', 4층 (화정동)',
      'enpHmpgUrl': 'www.primednc.co.kr',
      'enpTlno': '0625137030',
      'enpFxno': '',
      'sicNm': 'F',
      'enpEstbDt': '08',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': 'Y',
      'enpMntrBnkNm': '우리 광주',
      'enpEmpeCnt': '2',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '주택건설업',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '2201110103928',
      'corpNm': '장인',
      'corpEnsnNm': 'JANG IN',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '장동훈',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '04',
      'corpDcdNm': '주식회사',
      'bzno': '6168607909',
      'enpOzpno': '690191',
      'enpBsadr': '제주특별자치도 제주시 월광로 37',
      'enpDtadr': '474-5 외도미듬하나로아파트 101호',
      'enpHmpgUrl': '',
      'enpTlno': '0647424502',
      'enpFxno': '064 7422774',
      'sicNm': 'F',
      'enpEstbDt': '07',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': 'Y',
      'enpMntrBnkNm': '제주 노형(지)',
      'enpEmpeCnt': '5',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '토목건축공사',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '1601110400731',
      'corpNm': '예담디벨로퍼',
      'corpEnsnNm': '',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '노명섭',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '04',
      'corpDcdNm': '주식회사',
      'bzno': '6018700084',
      'enpOzpno': '34977',
      'enpBsadr': '대전광역시 중구 계백로1550번길 16',
      'enpDtadr': '(유천동)',
      'enpHmpgUrl': '',
      'enpTlno': '0425879533',
      'enpFxno': '',
      'sicNm': 'F',
      'enpEstbDt': '06',
      'enpStacMm': '12',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': 'Y',
      'enpMntrBnkNm': '우리 세이(지)',
      'enpEmpeCnt': '2',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '건축,설계 용역업',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '1601110243537',
      'corpNm': '신영종합건설',
      'corpEnsnNm': '',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '권순경',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '04',
      'corpDcdNm': '주식회사',
      'bzno': '',
      'enpOzpno': '',
      'enpBsadr': '',
      'enpDtadr': '',
      'enpHmpgUrl': '',
      'enpTlno': '',
      'enpFxno': '042 4719163',
      'sicNm': '',
      'enpEstbDt': '06',
      'enpStacMm': '12',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': '',
      'enpMntrBnkNm': '우리 세이(지)',
      'enpEmpeCnt': '12',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '주택건설업 등',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '1101111276800',
      'corpNm': '도현종합건설',
      'corpEnsnNm': 'Dohyun Engineering & Construction Co., Ltd',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '김창건',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '04',
      'corpDcdNm': '주식회사',
      'bzno': '',
      'enpOzpno': '',
      'enpBsadr': '',
      'enpDtadr': '',
      'enpHmpgUrl': 'huan.kr',
      'enpTlno': '',
      'enpFxno': '064 7120449',
      'sicNm': '',
      'enpEstbDt': '05',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': '',
      'enpMntrBnkNm': '농협은행 서광로',
      'enpEmpeCnt': '22',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '창호',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''},
     {'basDt': '20200629',
      'crno': '2201110138777',
      'corpNm': '에이치제이개발',
      'corpEnsnNm': 'HJ Development',
      'enpPbanCmpyNm': '',
      'enpRprFnm': '김경홍',
      'corpRegMrktDcd': '',
      'corpRegMrktDcdNm': '',
      'corpDcd': '04',
      'corpDcdNm': '주식회사',
      'bzno': '7728100292',
      'enpOzpno': '63231',
      'enpBsadr': '제주특별자치도 제주시 승천로 66',
      'enpDtadr': '(아라이동)',
      'enpHmpgUrl': '',
      'enpTlno': '0648050559',
      'enpFxno': '064 7120449',
      'sicNm': 'F',
      'enpEstbDt': '12',
      'enpStacMm': '',
      'enpXchgLstgDt': '',
      'enpXchgLstgAbolDt': '',
      'enpKosdaqLstgDt': '',
      'enpKosdaqLstgAbolDt': '',
      'enpKrxLstgDt': '',
      'enpKrxLstgAbolDt': '',
      'smenpYn': 'Y',
      'enpMntrBnkNm': '농협은행 서광로',
      'enpEmpeCnt': '1',
      'empeAvgCnwkTermCtt': '',
      'enpPn1AvgSlryAmt': '0',
      'actnAudpnNm': '',
      'audtRptOpnnCtt': '',
      'enpMainBizNm': '토목건축공사',
      'fssCorpUnqNo': '',
      'fssCorpChgDtm': ''}]},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 1221990},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [155]:
def get_company_info(company_name):
    url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
    decode_key = unquote('2cJ3wHYxZ7tLO8fc%2FU6B8jutjQd%2F6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ%3D%3D')
    # decode_key = '2cJ3wHYxZ7tLO8fc%2FU6B8jutjQd%2F6FjQBmBZMBljRnfA2uWyeUx1BfUrPL9PLA2oKiAAaUkSOGLiPErkfSXecQ%3D%3D'
    queryParams = '?' + urlencode({
        quote_plus('pageNo') : '1',
        quote_plus('numOfRows') : '10',
        quote_plus('resultType') : 'json',
        quote_plus('corpNm') : company_name,
        quote_plus('ServiceKey') : decode_key})
    request = Request(url + queryParams)
    request.get_method = lambda: 'GET'
    response = urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        dict_ = json.loads(response_body.decode('utf-8'))
        print(f'{company_name} complete...')
#         pprint(dict_)
    else:
        print("Error Code:" + rescode)
    result = {}
    result['company_name'] = company_name
    result['address1'] = list(set([x['enpBsadr'] for x in dict_['response']['body']['items']['item']]))
    result['address2'] = list(set([x['enpDtadr'] for x in dict_['response']['body']['items']['item']]))
    result['종업원수'] = list(set([x['enpEmpeCnt'] for x in dict_['response']['body']['items']['item']]))
    result['중소기업유무'] = list(set([x['smenpYn'] for x in dict_['response']['body']['items']['item']]))
    print(result)
    return result

In [ ]:
results = []
for name in company_names:
    result = get_company_info(name+'(주)')
    if len(result['address1']) == 0:  
        result = get_company_info(name)
    if len(result['address1']) == 0:  
        result = get_company_info('(주)'+name)
    results.append(result)
results

AJ네트웍스(주) complete...
{'company_name': 'AJ네트웍스(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
AJ네트웍스 complete...
{'company_name': 'AJ네트웍스', 'address1': ['서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)'], 'address2': ['서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)'], '종업원수': ['531'], '중소기업유무': ['']}
AK홀딩스(주) complete...
{'company_name': 'AK홀딩스(주)', 'address1': ['서울특별시 마포구 양화로 188 -', '서울 마포구 양화로 188'], 'address2': ['서울특별시 마포구 양화로 188 -', '(동교동)'], '종업원수': ['20', '0'], '중소기업유무': ['']}
BGF(주) complete...
{'company_name': 'BGF(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
BGF complete...
{'company_name': 'BGF', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)BGF complete...
{'company_name': '(주)BGF', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
BGF리테일(주) complete...
{'company_name': 'BGF리테일(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
BGF리테일 complete...
{'company_name': 'BGF리테일', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)BGF리테일 complete...
{'company_name': '(주)BGF리테일', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
BNK금융지주(주) complete...
{'company_name': 'BNK금융지주(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
BNK금융지주 complete...
{'company_name': 'BNK금융지주', 'address1': ['부산광역시 남구 문현금융로 30(문현동)'], 'address2': ['부산광역시 남구 문현금융로 30(문현동)'], '종업원수': ['96'], '중소기업유무': ['']}
BYC(주) complete...
{'company_name': 'BYC(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
BYC complete...
{'company_name': 'BYC', 'address1': ['서울특별시 영등포구 도림천로21길 3'], 'address2': ['서울특별시 영등포구 도림천로21길 3'], '종업원수': ['662'], '중소기업유무': ['']}
CJ(주) complete...
{'company_name': 'CJ(주)', 'address1': ['서울특별시 중구 소월로2길 12 (남대문로5가, CJ THE CENTER)'], 'address2': ['서울특별시 중구 소월로2길 12 (남대문로5가, CJ THE CENTER)'], '종업원수': ['65'], '중소기업유무': ['']}
CJ CGV(주) complete...
{'company_name': 'CJ CGV(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
CJ CGV complete...
{'company_name': 'CJ CGV', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)CJ CGV complete...
{'company_name': '(주)CJ CGV', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
CJ대한통운(주) complete...
{'company_name': 'CJ대한통운(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
CJ대한통운 complete...
{'company_name': 'CJ대한통운', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)CJ대한통운 complete...
{'company_name': '(주)CJ대한통운', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
CJ씨푸드(주) complete...
{'company_name': 'CJ씨푸드(주)', 'address1': ['경기 성남시중원구 상대원동', '경기도 성남시 중원구  둔촌대로388번길 32 (상대원동)'], 'address2': ['5449-1', '경기도 성남시 중원구  둔촌대로388번길 32 (상대원동)'], '종업원수': ['0', '462'], '중소기업유무': ['']}
CJ제일제당(주) complete...
{'company_name': 'CJ제일제당(주)', 'address1': ['서울특별시 중구  동호로 330', '서울 중구 소월로2길 12'], 'address2': ['(남대문로5가)', '서울특별시 중구  동호로 330'], '종업원수': ['0', '7379'], '중소기업유무': ['']}
CS홀딩스(주) complete...
{'company_name': 'CS홀딩스(주)', 'address1': ['서울 강남구 역삼동'], 'address2': ['830-47조선빌딩5층'], '종업원수': ['0'], '중소기업유무': ['']}
DB(주) complete...
{'company_name': 'DB(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
DB complete...
{'company_name': 'DB', 'address1': ['경기도 부천시 수도로 90 (주)DB하이텍', '경기 부천시 수도로 90', '서울특별시 중구 남대문로 113 (다동)', '서울특별시 영등포구 국제금융로8길 32 동부증권빌딩'], 'address2': ['경기도 부천시 수도로 90 (주)DB하이텍', '서울특별시 중구 남대문로 113 (다동)', '(도당동)', '서울특별시 영등포구 국제금융로8길 32 동부증권빌딩'], '종업원수': ['0', '1979', '802'], '중소기업유무': ['']}
DB금융투자(주) complete...
{'company_name': 'DB금융투자(주)', 'address1': ['서울특별시 영등포구 국제금융로8길 32 동부증권빌딩'], 'address2': ['서울특별시 영등포구 국제금융로8길 32 동부증권빌딩'], '종업원수': ['802'], '중소기업유무': ['']}
DB손해보험(주) complete...
{'company_name': 'DB손해보험(주)', 'address1': ['서울특별시 강남구  테헤란로 432'], 'address2': ['서울특별시 강남구  테헤란로 432'], '종업원수': ['4646'], '중소기업유무': ['']}
DB하이텍(주) complete...
{'company_name': 'DB하이텍(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
DB하이텍 complete...
{'company_name': 'DB하이텍', 'address1': ['경기도 부천시 수도로 90 (주)DB하이텍', '경기 부천시 수도로 90'], 'address2': ['경기도 부천시 수도로 90 (주)DB하이텍', '(도당동)'], '종업원수': ['0', '1979'], '중소기업유무': ['']}
DGB금융지주(주) complete...
{'company_name': 'DGB금융지주(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
DGB금융지주 complete...
{'company_name': 'DGB금융지주', 'address1': ['대구광역시 북구 옥산로 111 대구은행 제2본점 9층'], 'address2': ['대구광역시 북구 옥산로 111 대구은행 제2본점 9층'], '종업원수': ['122'], '중소기업유무': ['']}
DRB동일(주) complete...
{'company_name': 'DRB동일(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
DRB동일 complete...
{'company_name': 'DRB동일', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)DRB동일 complete...
{'company_name': '(주)DRB동일', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
DSR(주) complete...
{'company_name': 'DSR(주)', 'address1': ['부산광역시 강서구 녹산산업중로192번길 7'], 'address2': ['부산광역시 강서구 녹산산업중로192번길 7'], '종업원수': ['174'], '중소기업유무': ['']}
DSR제강(주) complete...
{'company_name': 'DSR제강(주)', 'address1': ['전라남도 순천시  서면 산단1길 15'], 'address2': ['전라남도 순천시  서면 산단1길 15'], '종업원수': ['118'], '중소기업유무': ['']}
E1(주) complete...
{'company_name': 'E1(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
E1 complete...
{'company_name': 'E1', 'address1': ['서울특별시 용산구 한강대로 92 LS용산타워', '인천광역시 계양구 아나지로 528', '서울 강남구 삼성1동 아셈타워', '인천광역시 중구 서해대로93번길 42'], 'address2': ['서울특별시 용산구 한강대로 92 LS용산타워', '인천광역시 중구 서해대로93번길 42', '인천광역시 계양구 아나지로 528', '14/13층'], '종업원수': ['0', '279'], '중소기업유무': ['']}
F&F(주) complete...
{'company_name': 'F&F(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
F&F complete...
{'company_name': 'F&F', 'address1': ['서울특별시 강남구  언주로 541(역삼동,외 에프앤에프빌딩)', '서울 동작구 사당동', '서울 성북구 석관동'], 'address2': ['341-91한남빌딩2층', '서울특별시 강남구  언주로 541(역삼동,외 에프앤에프빌딩)', '1044-37 우경빌딩 2층  201호'], '종업원수': ['0', '342', '4'], '중소기업유무': ['']}
GKL(주) complete...
{'company_name': 'GKL(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
GKL complete...
{'company_name': 'GKL', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)GKL complete...
{'company_name': '(주)GKL', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
GS(주) complete...
{'company_name': 'GS(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
GS complete...
{'company_name': 'GS', 'address1': ['경기 안양시 동안구 부림로 100', '인천광역시 남동구 남동동로197번길 11', '경남 김해시 생림면 생림대로259번길 65', '서울특별시 강남구 논현로 508', '서울 영등포구 문래동6가'], 'address2': ['', '(평촌동)', '서울특별시 강남구 논현로 508', '(주)경인기어 (고잔동)', '10GS강서타워'], '종업원수': ['15', '0', '863', '31'], '중소기업유무': ['']}
GS건설(주) complete...
{'company_name': 'GS건설(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
GS건설 complete...
{'company_name': 'GS건설', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)GS건설 complete...
{'company_name': '(주)GS건설', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
GS글로벌(주) complete...
{'company_name': 'GS글로벌(주)', 'address1': ['서울특별시 중구 동호로 209'], 'address2': ['3층'], '종업원수': ['2'], '중소기업유무': ['']}
GS리테일(주) complete...
{'company_name': 'GS리테일(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
GS리테일 complete...
{'company_name': 'GS리테일', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)GS리테일 complete...
{'company_name': '(주)GS리테일', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HDC(주) complete...
{'company_name': 'HDC(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HDC complete...
{'company_name': 'HDC', 'address1': ['경상북도 경주시 건천읍 신평공단길 60'], 'address2': ['.'], '종업원수': ['0'], '중소기업유무': ['']}
HDC아이콘트롤스(주) complete...
{'company_name': 'HDC아이콘트롤스(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HDC아이콘트롤스 complete...
{'company_name': 'HDC아이콘트롤스', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)HDC아이콘트롤스 complete...
{'company_name': '(주)HDC아이콘트롤스', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HDC현대EP(주) complete...
{'company_name': 'HDC현대EP(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HDC현대EP complete...
{'company_name': 'HDC현대EP', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)HDC현대EP complete...
{'company_name': '(주)HDC현대EP', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HDC현대산업개발(주) complete...
{'company_name': 'HDC현대산업개발(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HDC현대산업개발 complete...
{'company_name': 'HDC현대산업개발', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)HDC현대산업개발 complete...
{'company_name': '(주)HDC현대산업개발', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
HSD엔진(주) complete...
{'company_name': 'HSD엔진(주)', 'address1': ['경상남도 창원시 성산구 공단로 67'], 'address2': ['(신촌동)'], '종업원수': ['792'], '중소기업유무': ['']}
JB금융지주(주) complete...
{'company_name': 'JB금융지주(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
JB금융지주 complete...
{'company_name': 'JB금융지주', 'address1': ['전라북도 전주시 덕진구  백제대로 566', '전라북도 전주시 덕진구 백제대로 566 (금암동, 전북은행빌딩) 18층 JB금융지주'], 'address2': ['전라북도 전주시 덕진구  백제대로 566', '전라북도 전주시 덕진구 백제대로 566 (금암동, 전북은행빌딩) 18층 JB금융지주'], '종업원수': ['0', '81'], '중소기업유무': ['']}
JW생명과학(주) complete...
{'company_name': 'JW생명과학(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
JW생명과학 complete...
{'company_name': 'JW생명과학', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)JW생명과학 complete...
{'company_name': '(주)JW생명과학', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
JW중외제약(주) complete...
{'company_name': 'JW중외제약(주)', 'address1': ['서울특별시 서초구  남부순환로 2477'], 'address2': ['서울특별시 서초구  남부순환로 2477'], '종업원수': ['1223'], '중소기업유무': ['']}
JW홀딩스(주) complete...
{'company_name': 'JW홀딩스(주)', 'address1': ['서울특별시 서초구  남부순환로 2477'], 'address2': ['서울특별시 서초구  남부순환로 2477'], '종업원수': ['154'], '중소기업유무': ['']}
KB금융(주) complete...
{'company_name': 'KB금융(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KB금융 complete...
{'company_name': 'KB금융', 'address1': ['서울특별시 영등포구 국제금융로8길 26 (여의도동, 국민은행 여의도본점)'], 'address2': ['서울특별시 영등포구 국제금융로8길 26 (여의도동, 국민은행 여의도본점)'], '종업원수': ['162'], '중소기업유무': ['']}
KC그린홀딩스(주) complete...
{'company_name': 'KC그린홀딩스(주)', 'address1': ['서울특별시 마포구 상암산로 34'], 'address2': ['(상암동, 디지털큐브 11층)'], '종업원수': ['30'], '중소기업유무': ['']}
KC코트렐(주) complete...
{'company_name': 'KC코트렐(주)', 'address1': ['서울특별시 마포구 상암산로 34'], 'address2': ['디지털큐브 11층'], '종업원수': ['0'], '중소기업유무': ['']}
KEC(주) complete...
{'company_name': 'KEC(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KEC complete...
{'company_name': 'KEC', 'address1': ['서울특별시 종로구 청계천로 117-19'], 'address2': ['304호 (관수동)'], '종업원수': ['2'], '중소기업유무': ['']}
KG케미칼(주) complete...
{'company_name': 'KG케미칼(주)', 'address1': ['울산광역시 울주군 온산읍 당월로 322'], 'address2': ['울산광역시 울주군 온산읍 당월로 322'], '종업원수': ['207'], '중소기업유무': ['']}
KISCO홀딩스(주) complete...
{'company_name': 'KISCO홀딩스(주)', 'address1': ['경상남도 창원시 성산구  공단로103번길 12 한국철강(주)'], 'address2': ['경상남도 창원시 성산구  공단로103번길 12 한국철강(주)'], '종업원수': ['17'], '중소기업유무': ['']}
KPX케미칼(주) complete...
{'company_name': 'KPX케미칼(주)', 'address1': ['서울 마포구 공덕동', '서울특별시 마포구  마포대로 137  KPX빌딩'], 'address2': ['473', '서울특별시 마포구  마포대로 137  KPX빌딩'], '종업원수': ['296', '0'], '중소기업유무': ['']}
KPX홀딩스(주) complete...
{'company_name': 'KPX홀딩스(주)', 'address1': ['서울특별시 마포구  마포대로 137 KPX빌딩 19층'], 'address2': ['서울특별시 마포구  마포대로 137 KPX빌딩 19층'], '종업원수': ['17'], '중소기업유무': ['']}
KR모터스(주) complete...
{'company_name': 'KR모터스(주)', 'address1': ['경상남도 창원시 성산구 완암로 28 \u3000'], 'address2': ['경상남도 창원시 성산구 완암로 28 \u3000'], '종업원수': ['84'], '중소기업유무': ['']}
KSS해운(주) complete...
{'company_name': 'KSS해운(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KSS해운 complete...
{'company_name': 'KSS해운', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)KSS해운 complete...
{'company_name': '(주)KSS해운', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KTB투자증권(주) complete...
{'company_name': 'KTB투자증권(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KTB투자증권 complete...
{'company_name': 'KTB투자증권', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)KTB투자증권 complete...
{'company_name': '(주)KTB투자증권', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KTcs(주) complete...
{'company_name': 'KTcs(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KTcs complete...
{'company_name': 'KTcs', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)KTcs complete...
{'company_name': '(주)KTcs', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KTis(주) complete...
{'company_name': 'KTis(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
KTis complete...
{'company_name': 'KTis', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)KTis complete...
{'company_name': '(주)KTis', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LF(주) complete...
{'company_name': 'LF(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LF complete...
{'company_name': 'LF', 'address1': ['서울특별시 강남구 언주로 870 (신사동)', '강원도 양양군 양양읍 임천1길 26-3 (서문리, 코아루아파트) 101동 1601호', '서울특별시 강남구 논현로 323 (역삼동, MTU빌딩)'], 'address2': ['서울특별시 강남구 언주로 870 (신사동)', '강원도 양양군 양양읍 임천1길 26-3 (서문리, 코아루아파트) 101동 1601호', '서울특별시 강남구 논현로 323 (역삼동, MTU빌딩)'], '종업원수': ['0', '1086'], '중소기업유무': ['']}
LG(주) complete...
{'company_name': 'LG(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG complete...
{'company_name': 'LG', 'address1': ['서울특별시 영등포구  여의대로 128', '서울특별시 영등포구 여의대로 128 LG트윈타워', '서울 영등포구 여의대로 128', '전라북도 정읍시 서부산업도로 328'], 'address2': ['서울특별시 영등포구  여의대로 128', '', '(여의도동, LG트윈타워빌딩)', '서울특별시 영등포구 여의대로 128 LG트윈타워'], '종업원수': ['0', '20162'], '중소기업유무': ['']}
LG디스플레이(주) complete...
{'company_name': 'LG디스플레이(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG디스플레이 complete...
{'company_name': 'LG디스플레이', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)LG디스플레이 complete...
{'company_name': '(주)LG디스플레이', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG상사(주) complete...
{'company_name': 'LG상사(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG상사 complete...
{'company_name': 'LG상사', 'address1': ['서울특별시 종로구 새문안로 58 LG광화문빌딩', '서울특별시 종로구 새문안로 58'], 'address2': ['서울특별시 종로구 새문안로 58 LG광화문빌딩', 'LG광화문빌딩'], '종업원수': ['914', '392'], '중소기업유무': ['']}
LG생활건강(주) complete...
{'company_name': 'LG생활건강(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG생활건강 complete...
{'company_name': 'LG생활건강', 'address1': ['서울특별시 종로구  새문안로 58'], 'address2': ['서울특별시 종로구  새문안로 58'], '종업원수': ['4567'], '중소기업유무': ['']}
LG유플러스(주) complete...
{'company_name': 'LG유플러스(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG유플러스 complete...
{'company_name': 'LG유플러스', 'address1': ['서울특별시 용산구 한강대로 32 (한강로3가) LG유플러스 용산사옥'], 'address2': ['서울특별시 용산구 한강대로 32 (한강로3가) LG유플러스 용산사옥'], '종업원수': ['10701'], '중소기업유무': ['']}
LG이노텍(주) complete...
{'company_name': 'LG이노텍(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG이노텍 complete...
{'company_name': 'LG이노텍', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)LG이노텍 complete...
{'company_name': '(주)LG이노텍', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG전자(주) complete...
{'company_name': 'LG전자(주)', 'address1': ['서울특별시 영등포구  여의대로 128 LG트윈타워', '서울 영등포구 여의대로 128'], 'address2': ['서울특별시 영등포구  여의대로 128 LG트윈타워', '(여의도동, LG트윈타워빌딩)'], '종업원수': ['0', '40110'], '중소기업유무': ['']}
LG하우시스(주) complete...
{'company_name': 'LG하우시스(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG하우시스 complete...
{'company_name': 'LG하우시스', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)LG하우시스 complete...
{'company_name': '(주)LG하우시스', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG헬로비전(주) complete...
{'company_name': 'LG헬로비전(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG헬로비전 complete...
{'company_name': 'LG헬로비전', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)LG헬로비전 complete...
{'company_name': '(주)LG헬로비전', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG화학(주) complete...
{'company_name': 'LG화학(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LG화학 complete...
{'company_name': 'LG화학', 'address1': ['서울특별시 영등포구  여의대로 128'], 'address2': ['서울특별시 영등포구  여의대로 128'], '종업원수': ['20162'], '중소기업유무': ['']}
LIG넥스원(주) complete...
{'company_name': 'LIG넥스원(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LIG넥스원 complete...
{'company_name': 'LIG넥스원', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)LIG넥스원 complete...
{'company_name': '(주)LIG넥스원', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LS(주) complete...
{'company_name': 'LS(주)', 'address1': ['서울특별시 영등포구 여의도동 15-4번지', '울산광역시 울주군 온산읍 산암로 381'], 'address2': ['서울특별시 영등포구 여의도동 15-4번지', '울산광역시 울주군 온산읍 산암로 381'], '종업원수': ['0'], '중소기업유무': ['']}
LS네트웍스(주) complete...
{'company_name': 'LS네트웍스(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LS네트웍스 complete...
{'company_name': 'LS네트웍스', 'address1': ['경상남도 김해시 호계로 428 1층(부원동, 세화빌딩)'], 'address2': ['경상남도 김해시 호계로 428 1층(부원동, 세화빌딩)'], '종업원수': ['191'], '중소기업유무': ['']}
LS산전(주) complete...
{'company_name': 'LS산전(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LS산전 complete...
{'company_name': 'LS산전', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)LS산전 complete...
{'company_name': '(주)LS산전', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LS전선아시아(주) complete...
{'company_name': 'LS전선아시아(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
LS전선아시아 complete...
{'company_name': 'LS전선아시아', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)LS전선아시아 complete...
{'company_name': '(주)LS전선아시아', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
MH에탄올(주) complete...
{'company_name': 'MH에탄올(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
MH에탄올 complete...
{'company_name': 'MH에탄올', 'address1': ['경상남도 창원시 마산회원구 내서읍 광려천남로 25'], 'address2': ['경상남도 창원시 마산회원구 내서읍 광려천남로 25'], '종업원수': ['47'], '중소기업유무': ['']}
NAVER(주) complete...
{'company_name': 'NAVER(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NAVER complete...
{'company_name': 'NAVER', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)NAVER complete...
{'company_name': '(주)NAVER', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NH투자증권(주) complete...
{'company_name': 'NH투자증권(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NH투자증권 complete...
{'company_name': 'NH투자증권', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)NH투자증권 complete...
{'company_name': '(주)NH투자증권', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NH프라임리츠(주) complete...
{'company_name': 'NH프라임리츠(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NH프라임리츠 complete...
{'company_name': 'NH프라임리츠', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
(주)NH프라임리츠 complete...
{'company_name': '(주)NH프라임리츠', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NICE(주) complete...
{'company_name': 'NICE(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NICE complete...
{'company_name': 'NICE', 'address1': ['서울특별시 영등포구 은행로 17 (여의도동) NICE 그룹 1사옥'], 'address2': ['서울특별시 영등포구 은행로 17 (여의도동) NICE 그룹 1사옥'], '종업원수': ['48'], '중소기업유무': ['']}
NI스틸(주) complete...
{'company_name': 'NI스틸(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
NI스틸 complete...
{'company_name': 'NI스틸', 'address1': ['서울특별시 동작구 동작대로 35 -'], 'address2': ['서울특별시 동작구 동작대로 35 -'], '종업원수': ['194'], '중소기업유무': ['']}
OCI(주) complete...
{'company_name': 'OCI(주)', 'address1': ['서울특별시 중구  소공로 94 OCI 빌딩'], 'address2': ['서울특별시 중구  소공로 94 OCI 빌딩'], '종업원수': ['2145'], '중소기업유무': ['']}
S&TC(주) complete...
{'company_name': 'S&TC(주)', 'address1': [], 'address2': [], '종업원수': [], '중소기업유무': []}
S&TC complete...
{'company_name': 'S&TC', 'address1': ['경상남도 창원시 성산구  완암로 12', '경남 창원시 성산구 완암로 12'], 'address2': ['(성산동)', '경상남도 창원시 성산구  완암로 12'], '종업원수': ['191', '0'], '중소기업유무': ['']}
S&T모티브(주) complete...

In [4]:
temp = pd.DataFrame(results)

NameError: name 'results' is not defined

In [163]:
temp = temp.rename({'company_name' : '기업명'}, axis=1)

In [169]:
temp = temp.reset_index()

In [170]:
temp

,index,기업명,address1,address2,종업원수,중소기업유무
0,0,AJ네트웍스,"[서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)]","[서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)]",[531],[]
1,1,AK홀딩스(주),"[서울특별시 마포구 양화로 188 -, 서울 마포구 양화로 188]","[서울특별시 마포구 양화로 188 -, (동교동)]","[20, 0]",[]
2,2,(주)BGF,[],[],[],[]
3,3,(주)BGF리테일,[],[],[],[]
4,4,BNK금융지주,[부산광역시 남구 문현금융로 30(문현동)],[부산광역시 남구 문현금융로 30(문현동)],[96],[]
...,...,...,...,...,...,...
795,795,휴비스(주),"[경기도 성남시 분당구 돌마로 172 (정자동, 분당서울대학교병원헬스케어혁신파크)4...","[경기도 성남시 분당구 돌마로 172 (정자동, 분당서울대학교병원헬스케어혁신파크)4...","[0, 3]",[]
796,796,휴스틸,"[서울특별시 강남구 테헤란로 512 (대치동, 신안빌딩 14층), 서울 강남구 테...","[14,15층 (대치동, 신안빌딩), 14층 (대치동,신안빌딩), 서울특별시 강남구...","[0, 566]",[]
797,797,휴켐스(주),"[서울특별시 중구 퇴계로 173 19층, 서울 중구 퇴계로 173, 서울 중구 충...","[서울특별시 중구 퇴계로 173 19층, 19층 (충무로3가, 남산스퀘어), 극동...","[253, 0]",[]
798,798,흥국화재,[서울특별시 종로구 새문안로 68],[서울특별시 종로구 새문안로 68],[1225],[]
799,799,흥아해운(주),"[서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림...","[서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림...","[0, 339]",[]

In [5]:
company_list = company_list.reset_index()

In [6]:
company_list

,index,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분
0,0,1,95570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW)
1,1,2,6840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW)
2,2,3,27410,BGF,116409,기타 금융업,"95,716,791","95,716,791,000","1,000",NaN
3,3,4,282330,BGF리테일,74701,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW)
4,4,5,138930,BNK금융지주,116409,기타 금융업,"325,935,246","1,629,676,230,000","5,000",원(KRW)
...,...,...,...,...,...,...,...,...,...,...
795,795,796,79980,휴비스,32005,화학섬유 제조업,"34,500,000","172,500,000,000","5,000",원(KRW)
796,796,797,5010,휴스틸,32401,1차 철강 제조업,"7,621,668","38,108,340,000","5,000",원(KRW)
797,797,798,69260,휴켐스,32004,기타 화학제품 제조업,"40,878,588","40,878,588,000","1,000",원(KRW)
798,798,799,540,흥국화재,116501,보험업,"64,242,645","325,821,225,000","5,000",원(KRW)
799,799,800,3280,흥아해운,85001,해상 운송업,"112,112,392","56,056,196,000",500,원(KRW)

In [168]:
temp[temp['기업명']=='삼성전자(주)']

,기업명,address1,address2,종업원수,중소기업유무
334,삼성전자(주),"[서울 서초구 서초대로74길 11, 경기 양평군 서종면, 경기도 수원시 영통구 삼...","[경기도 수원시 영통구 삼성로 129 (매탄동), 756-1, 37층 (서초동, ...","[0, 98541, 105257]",[]

In [173]:
company_list_new = pd.merge(company_list, temp, on='index')

In [177]:
company_list_new = company_list_new.drop(['index', '번호'], axis=1)

In [182]:
company_list_new = company_list_new.rename(columns={'기업명_y' :'기업명'})
company_list_new2 = company_list_new[['기업명','종목코드','업종코드','자본금(원)','address1','address2','종업원수']]
company_list_new2

,기업명,종목코드,업종코드,자본금(원),address1,address2,종업원수
0,AJ네트웍스,95570,147603,"46,822,295,000","[서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)]","[서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)]",[531]
1,AK홀딩스(주),6840,116409,"66,237,805,000","[서울특별시 마포구 양화로 188 -, 서울 마포구 양화로 188]","[서울특별시 마포구 양화로 188 -, (동교동)]","[20, 0]"
2,(주)BGF,27410,116409,"95,716,791,000",[],[],[]
3,(주)BGF리테일,282330,74701,"17,283,906,000",[],[],[]
4,BNK금융지주,138930,116409,"1,629,676,230,000",[부산광역시 남구 문현금융로 30(문현동)],[부산광역시 남구 문현금융로 30(문현동)],[96]
...,...,...,...,...,...,...,...
795,휴비스(주),79980,32005,"172,500,000,000","[경기도 성남시 분당구 돌마로 172 (정자동, 분당서울대학교병원헬스케어혁신파크)4...","[경기도 성남시 분당구 돌마로 172 (정자동, 분당서울대학교병원헬스케어혁신파크)4...","[0, 3]"
796,휴스틸,5010,32401,"38,108,340,000","[서울특별시 강남구 테헤란로 512 (대치동, 신안빌딩 14층), 서울 강남구 테...","[14,15층 (대치동, 신안빌딩), 14층 (대치동,신안빌딩), 서울특별시 강남구...","[0, 566]"
797,휴켐스(주),69260,32004,"40,878,588,000","[서울특별시 중구 퇴계로 173 19층, 서울 중구 퇴계로 173, 서울 중구 충...","[서울특별시 중구 퇴계로 173 19층, 19층 (충무로3가, 남산스퀘어), 극동...","[253, 0]"
798,흥국화재,540,116501,"325,821,225,000",[서울특별시 종로구 새문안로 68],[서울특별시 종로구 새문안로 68],[1225]
799,흥아해운(주),3280,85001,"56,056,196,000","[서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림...","[서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림...","[0, 339]"

In [188]:
company_list_new3 = company_list_new2[company_list_new2['address1'].map(lambda x:bool(len(x)))].reset_index(drop=True)

In [189]:
company_list_new3

,기업명,종목코드,업종코드,자본금(원),address1,address2,종업원수
0,AJ네트웍스,95570,147603,"46,822,295,000","[서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)]","[서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)]",[531]
1,AK홀딩스(주),6840,116409,"66,237,805,000","[서울특별시 마포구 양화로 188 -, 서울 마포구 양화로 188]","[서울특별시 마포구 양화로 188 -, (동교동)]","[20, 0]"
2,BNK금융지주,138930,116409,"1,629,676,230,000",[부산광역시 남구 문현금융로 30(문현동)],[부산광역시 남구 문현금융로 30(문현동)],[96]
3,BYC,1460,31401,"4,200,000,000",[서울특별시 영등포구 도림천로21길 3],[서울특별시 영등포구 도림천로21길 3],[662]
4,CJ(주),1040,116409,"179,047,370,000","[서울특별시 중구 소월로2길 12 (남대문로5가, CJ THE CENTER)]","[서울특별시 중구 소월로2길 12 (남대문로5가, CJ THE CENTER)]",[65]
...,...,...,...,...,...,...,...
732,휴비스(주),79980,32005,"172,500,000,000","[경기도 성남시 분당구 돌마로 172 (정자동, 분당서울대학교병원헬스케어혁신파크)4...","[경기도 성남시 분당구 돌마로 172 (정자동, 분당서울대학교병원헬스케어혁신파크)4...","[0, 3]"
733,휴스틸,5010,32401,"38,108,340,000","[서울특별시 강남구 테헤란로 512 (대치동, 신안빌딩 14층), 서울 강남구 테...","[14,15층 (대치동, 신안빌딩), 14층 (대치동,신안빌딩), 서울특별시 강남구...","[0, 566]"
734,휴켐스(주),69260,32004,"40,878,588,000","[서울특별시 중구 퇴계로 173 19층, 서울 중구 퇴계로 173, 서울 중구 충...","[서울특별시 중구 퇴계로 173 19층, 19층 (충무로3가, 남산스퀘어), 극동...","[253, 0]"
735,흥국화재,540,116501,"325,821,225,000",[서울특별시 종로구 새문안로 68],[서울특별시 종로구 새문안로 68],[1225]
736,흥아해운(주),3280,85001,"56,056,196,000","[서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림...","[서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림...","[0, 339]"

In [217]:
import numpy as np

In [223]:
company_list_new4 = pd.DataFrame({'기업명':np.repeat(company_list_new3.기업명.values, company_list_new3.address1.str.len()),
                        '주소':np.concatenate(company_list_new3.address1.values)})
company_list_new4

           기업명                                                 주소
0       AJ네트웍스                       서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)
1     AK홀딩스(주)                                서울특별시 마포구 양화로 188 -
2     AK홀딩스(주)                                     서울 마포구 양화로 188
3      BNK금융지주                             부산광역시 남구 문현금융로 30(문현동)
4          BYC                               서울특별시 영등포구 도림천로21길 3
...        ...                                                ...
1969    휴켐스(주)                                      서울 중구 퇴계로 173
1970    휴켐스(주)                                        서울 중구 충무로3가
1971      흥국화재                                  서울특별시 종로구 새문안로 68
1972   흥아해운(주)  서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림빌...
1973   흥아해운(주)                                         서울 송파구 문정동

[1974 rows x 2 columns]

In [226]:
company_list_new5 = pd.concat([company_list_new4, handmade_list])
company_list_new5

         기업명                            주소
0     AJ네트웍스  서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)
1   AK홀딩스(주)           서울특별시 마포구 양화로 188 -
2   AK홀딩스(주)                서울 마포구 양화로 188
3    BNK금융지주        부산광역시 남구 문현금융로 30(문현동)
4        BYC          서울특별시 영등포구 도림천로21길 3
..       ...                           ...
42  (주)한화/기계             경남 창원시 성산구 성산패총로9
43  (주)한화/기계    충청남도 아산시 둔포면 해위안길 62번지길 16
44  (주)한화/기계           경기도 성남시 분당구 판교로 305
45  (주)한화/기계        충청남도 아산시 둔포면 아산밸리로 312
46  SK Hynix         경기도 이천시 부발읍 경충대로 2091

[2020 rows x 2 columns]

In [227]:
company_list_new5.to_csv('big_company_address_with_factory.csv', sep='\t')

In [225]:
handmade_list = pd.read_excel('/Users/dhkim/PycharmProjects/company_list/handmade_list.xlsx')
handmade_list = handmade_list.iloc[1:,:].rename(columns={'handmade_list':'기업명', 'Unnamed: 1':'주소'})
handmade_list

         기업명                             주소
1       현대제철    서울특별시 서초구 헌릉로 12 현대기아차사옥 서관
2       현대제철        충청남도 당진시 송악읍 북부산업로 1480
3       현대제철               인천광역시 동구 중봉대로 63
4       현대제철          경상북도 포항시 남구 동해안로 6363
5       현대제철           전라남도 순천시 해룡면 인덕로 300
6       현대제철               울산광역시 북구 염포로 706
7       현대제철           충청남도 예산군 삽교읍 효림리 555
8       삼성전자       경기도 수원시 영통구 삼성로 129(매탄동)
9       삼성전자           경북 구미시 1공단로 244(공단동)
10      삼성전자          경북 구미시 3공단3로 302(임수동)
11      삼성전자         경기도 용인시 기흥구 삼성로 1(농서동)
12      삼성전자           경기도 화성시 삼성전자로 1(반월동)
13      삼성전자    광주광역시 광산구 하남산단 6번로 107(오선동)
14      삼성전자           광주광역시 북구 앰코로 70(오룡동)
15      삼성전자           충청남도 아산시 배방읍 배방로 158
16      삼성전자            경기도 평택시 고덕면 삼성로 114
17      삼성전자          서울특별시 서초구 성촌길 33(우면동)
18   삼성디스플레이              경기도 용인시 기흥구 삼성로 1
19   삼성디스플레이           충청남도 아산시 탕정면 삼성로 181
20   삼성디스플레이           충청남도 천안시 서북구 번영로 465
21      LG전자              서울시 영등포구 여의대로 128
22      LG전자        서울특별시 중구 후암로 98 LG서울역빌딩
23      LG전자           서울특별시 강서구 마곡중앙10로 10
24      LG전자          서울특별시 금천구 디지털로 10길 56
25      LG전자           울특별시 금천구 디지털로 10길 22
26      LG전자             서울시 금천구 가산디지털1로 51
27      LG전자            서울시 서초구 양재대로 11길 19
28      LG전자                서울시 서초구 바우뫼로 38
29      LG전자            경기도 평택시 진위면 엘지로 222
30      LG전자            인천광역시 서구 경명대로 322번길
31      LG전자       충북 청주시 흥덕구 2순환로 971번길 93
32      LG전자              경상북도 구미시 수출대로 168
33      LG전자               경상북도 구미시 산호대로 77
34      LG전자              창원시 성산구 성산패총로 170
35      LG전자                 창원시 성산구 완암로 84
36     현대자동차             울산광역시 북구 양정동 700번지
37     현대자동차           충청남도 아산시 인주면 금성리 123
38     현대자동차         전라북도 완주군 봉동읍 용암리 800번지
39     삼성중공업  경상남도 거제시 장평3로 80(장평동) 우 53261
40     삼성중공업       경기도 성남시 분당구 판교로 227번길 23
41     삼성중공업              대전광역시 유성구 문지로 217
42  (주)한화/기계              경남 창원시 성산구 성산패총로9
43  (주)한화/기계     충청남도 아산시 둔포면 해위안길 62번지길 16
44  (주)한화/기계            경기도 성남시 분당구 판교로 305
45  (주)한화/기계         충청남도 아산시 둔포면 아산밸리로 312
46  SK Hynix          경기도 이천시 부발읍 경충대로 2091

In [231]:
company_list_new5 = company_list_new5.reset_index(drop=True)

In [240]:
company_list_new5 = company_list_new5.drop_duplicates('주소').reset_index(drop=True)
company_list_new5.to_csv('big_company_address_with_factory.csv', sep='\t')

In [241]:
company_list_new5

           기업명                            주소
0       AJ네트웍스  서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)
1     AK홀딩스(주)           서울특별시 마포구 양화로 188 -
2     AK홀딩스(주)                서울 마포구 양화로 188
3      BNK금융지주        부산광역시 남구 문현금융로 30(문현동)
4          BYC          서울특별시 영등포구 도림천로21길 3
...        ...                           ...
1823  (주)한화/기계             경남 창원시 성산구 성산패총로9
1824  (주)한화/기계    충청남도 아산시 둔포면 해위안길 62번지길 16
1825  (주)한화/기계           경기도 성남시 분당구 판교로 305
1826  (주)한화/기계        충청남도 아산시 둔포면 아산밸리로 312
1827  SK Hynix         경기도 이천시 부발읍 경충대로 2091

[1828 rows x 2 columns]

In [12]:
find_lat_lng('제주 서귀포시 천제연로 95')

(33.2549983, 126.4159059)

In [8]:
import requests
# from utils.csv_postprocess import postprocess_df
import time


def find_lat_lng(location):
    # 요청 주소(구글맵)

    # Production(실제 서비스) 환경 - https 요청이 필수이고, API Key 발급(사용설정) 및 과금 설정이 반드시 필요합니다.
    URL = 'https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBWgPcQF1nWKXIwGLPJVZA4-QYLw5GdVVM' \
          '&sensor=false&language=ko&address={}'.format(location)
    try:
        # URL로 보낸 Requst의 Response를 response 변수에 할당
        response = requests.get(URL)

        # JSON 파싱
        data = response.json()

        # lat, lon 추출
        lat = data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
    except Exception as e:
        print(f'{e} : {location} failed to find coordinates')
        # time.sleep(1)
        # lat, lng = find_lat_lng(location)
        lat, lng = 0, 0
    return lat, lng

def dataframe_loc_convert(df, address_column):
    if isinstance(df, str):
        save_path = df
        import pandas as pd
        df = pd.read_csv(save_path, sep='\t')
    else:
        save_path = 'data/converted_result.csv'

    df['latitude'] = ""
    df['longitude'] = ""

    locs = []
    for i, loc in enumerate(df[address_column]):
        lat, lng = find_lat_lng(loc)
        df['latitude'].iloc[i] = lat
        df['longitude'].iloc[i] = lng
        print(f"{lat}'\t'{lng}")
        locs.append((lat, lng))

    if "Unnamed: 0" in df.columns:
        df = df.drop("Unnamed: 0", axis=1)
    df.to_csv(save_path, sep='\t')
    return save_path

In [13]:
company_locations = pd.read_csv('/Users/dhkim/PycharmProjects/company_list/new_big_company_address_with_factory.csv', sep='\t')

In [14]:
company_locations = company_locations.drop(company_locations.columns[0], axis=1)
company_locations

           기업명                            주소   latitude   longitude
0       AJ네트웍스  서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)  37.485262  127.118094
1     AK홀딩스(주)           서울특별시 마포구 양화로 188 -  37.552785  126.918612
2     AK홀딩스(주)                서울 마포구 양화로 188  37.552785  126.918612
3      BNK금융지주        부산광역시 남구 문현금융로 30(문현동)  35.145384  129.065782
4          BYC          서울특별시 영등포구 도림천로21길 3  37.486290  126.901551
...        ...                           ...        ...         ...
1823  (주)한화/기계             경남 창원시 성산구 성산패총로9  35.198385  128.671024
1824  (주)한화/기계    충청남도 아산시 둔포면 해위안길 62번지길 16  36.893872  127.023031
1825  (주)한화/기계           경기도 성남시 분당구 판교로 305  37.398551  127.106815
1826  (주)한화/기계        충청남도 아산시 둔포면 아산밸리로 312  36.913107  127.062119
1827  SK Hynix         경기도 이천시 부발읍 경충대로 2091  37.250125  127.483494

[1828 rows x 4 columns]

In [19]:
start_bucks_dt = pd.read_csv('./starbucksDT_location_info_20200707.csv', sep=',', index_col=0)
start_bucks_dt

,지점명,latitude,longitude,address
0,스타벅스 강동구청DT점,37.529139,127.123792,성내동 550
1,스타벅스 강동암사DT점,37.555040,127.130065,암사동 441-12
2,스타벅스 강릉송정DT점,37.771866,128.922926,강원도 강릉시 경강로 2402 2020-03-31 18:56:50.526315776
3,스타벅스 경기광주송정DT점,37.424435,127.262841,송정동 12-12 1필지
4,스타벅스 경기광주신현DT점,37.359885,127.153039,신현리 701-5
...,...,...,...,...
247,스타벅스 풍무역DT점,37.610333,126.737431,풍무동 326-4
248,스타벅스 하남미사DT점,37.567550,127.189241,망월동 1066-3
249,스타벅스 해운대달맞이DT점,35.161563,129.171237,부산광역시 해운대구 중동 달맞이길 57
250,스타벅스 화곡DT점,37.535035,126.863118,화곡동 772-67
251,스타벅스 화성병점DT점,37.212610,127.038229,진안동 873-4

In [45]:
import pandas as pd
import geopy.distance


def get_distances_with_st(mac_df, star_df):
    rows = []
    for j in range(mac_df.shape[0]):
        mac_name = mac_df.loc[j].mac_name
        coord1 = (mac_df.loc[j].latitude, mac_df.loc[j].longitude)
        for i in range(star_df.shape[0]):
            star_name = star_df.loc[i].mac_name
            coord2 = (star_df.loc[i].latitude, star_df.loc[i].longitude)
            distance = geopy.distance.vincenty(coord1, coord2).km
            row = {
                'mac_name': mac_name,
                'star_name': star_name,
                'distance': distance
            }
            rows.append(row)
    return rows


def get_distances_with_df(df1, df2, df1_basis, df2_basis):
    rows = []
    for j in range(df1.shape[0]):
        loc_name1 = df1.loc[j][df1_basis]
        coord1 = (df1.loc[j].latitude, df1.loc[j].longitude)
        for i in range(df2.shape[0]):
            loc_name2 = df2.loc[i][df2_basis]
            coord2 = (df2.loc[i].latitude, df2.loc[i].longitude)
            distance = geopy.distance.vincenty(coord1, coord2).km
            row = {
                df1_basis : loc_name1,
                df2_basis : loc_name2,
                'distance': distance
            }
            rows.append(row)
    return rows


def find_mindist_starbucks(each_mac_df, basis_name='star_name'):
    new_df = {}
    each_mac_df = each_mac_df.reset_index(drop=True)
    new_df['distance'] = each_mac_df['distance'].sort_values().reset_index(drop=True)[:]
    new_df[basis_name] = each_mac_df.loc[:2][basis_name]

    return pd.Series(new_df, index=[basis_name, 'distance'])


def main():
    loc_info = pd.read_csv('../data/mac/ST_MAC2_DT.csv', sep='\t')
    loc_info_mac = loc_info[loc_info.SORT == '맥도날드']
    loc_info_star = loc_info[loc_info.SORT == '스타벅스']
    loc_info_star = loc_info_star.reset_index().drop('index', axis=1)

    loc_info_mac = loc_info_mac.drop_duplicates().reset_index(drop=True)

    rows = get_distances_with_st(loc_info_mac, loc_info_star)
    mac_star_distance = pd.DataFrame(rows)
    mac_star_distance2 = mac_star_distance.groupby(['mac_name']).apply(find_mindist_starbucks)
    mac_star_distance3 = mac_star_distance2.reset_index()
    mac_star_distance3.to_csv('data/mac_star_distance2.csv', sep='\t')

# if __name__ == '__main__':;;
#     main()

In [57]:
rows = get_distances_with_df(df1=start_bucks_dt, df2=company_locations, df1_basis='지점명', df2_basis='기업명' )

<ipython-input-45-60d24b432f9c>:31: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  distance = geopy.distance.vincenty(coord1, coord2).km

In [58]:
len(rows)

460656

In [59]:
star_company_distance = pd.DataFrame(rows)

In [60]:
star_company_distance = star_company_distance.rename(columns={'loc_name':'지점명', 'loc_name2':'기업명'})
star_company_distance

                 지점명       기업명    distance
0       스타벅스 강동구청DT점    AJ네트웍스    4.895769
1       스타벅스 강동구청DT점  AK홀딩스(주)   18.322120
2       스타벅스 강동구청DT점  AK홀딩스(주)   18.322120
3       스타벅스 강동구청DT점   BNK금융지주  316.784718
4       스타벅스 강동구청DT점       BYC   20.217024
...              ...       ...         ...
460651  스타벅스 화성병점DT점  (주)한화/기계  267.410932
460652  스타벅스 화성병점DT점  (주)한화/기계   35.398944
460653  스타벅스 화성병점DT점  (주)한화/기계   21.513410
460654  스타벅스 화성병점DT점  (주)한화/기계   33.306406
460655  스타벅스 화성병점DT점  SK Hynix   39.731995

[460656 rows x 3 columns]

In [61]:
star_company_distance

                 지점명       기업명    distance
0       스타벅스 강동구청DT점    AJ네트웍스    4.895769
1       스타벅스 강동구청DT점  AK홀딩스(주)   18.322120
2       스타벅스 강동구청DT점  AK홀딩스(주)   18.322120
3       스타벅스 강동구청DT점   BNK금융지주  316.784718
4       스타벅스 강동구청DT점       BYC   20.217024
...              ...       ...         ...
460651  스타벅스 화성병점DT점  (주)한화/기계  267.410932
460652  스타벅스 화성병점DT점  (주)한화/기계   35.398944
460653  스타벅스 화성병점DT점  (주)한화/기계   21.513410
460654  스타벅스 화성병점DT점  (주)한화/기계   33.306406
460655  스타벅스 화성병점DT점  SK Hynix   39.731995

[460656 rows x 3 columns]

In [75]:
def company_count(groupped_x, distance):
    new_dict = {}
    groupped_x = groupped_x.reset_index()
    cnt = 0
    for idx in range(groupped_x.shape[0]):
        if groupped_x.loc[idx, 'distance'] < distance:
            cnt += 1
    new_dict = {f'{distance}km이내 회사개수':cnt}
    return pd.Series(new_dict)
dict_dist = {}
for dist in [1,2,3,5]:
    dict_dist[dist] = star_company_distance.groupby('지점명').apply(lambda x: company_count(x, dist)).reset_index()

In [92]:
for dist in [1,2,3,5]:
    dict_dist[dist] = dict_dist[dist].reset_index(drop=True)
    useless_col = ['level_0','index']
    for col in useless_col:
        if col in dict_dist[dist].columns:
            dict_dist[dist] = dict_dist[dist].drop(col, axis=1)

In [96]:
dict_dist[1].iloc[:,0]

0        스타벅스 강동구청DT점
1        스타벅스 강동암사DT점
2        스타벅스 강릉송정DT점
3      스타벅스 경기광주송정DT점
4      스타벅스 경기광주신현DT점
            ...
247       스타벅스 풍무역DT점
248      스타벅스 하남미사DT점
249    스타벅스 해운대달맞이DT점
250        스타벅스 화곡DT점
251      스타벅스 화성병점DT점
Name: 지점명, Length: 252, dtype: object

In [101]:
merge_df = pd.DataFrame()
merge_df[dict_dist[1].columns[0]] = dict_dist[1].iloc[:,0]
for dist in [1,2,3,5]:
    dict_dist[dist] = dict_dist[dist].reset_index(drop=True)
    useless_col = ['level_0','index']
    for col in useless_col:
        if col in dict_dist[dist].columns:
            dict_dist[dist] = dict_dist[dist].drop(col, axis=1)
    column_name = dict_dist[dist].columns[-1]
    merge_df[column_name] = dict_dist[dist].iloc[:,-1]
merge_df

                지점명  1km이내 회사개수  2km이내 회사개수  3km이내 회사개수  5km이내 회사개수
0      스타벅스 강동구청DT점           3          13          33          44
1      스타벅스 강동암사DT점           0           2          12          29
2      스타벅스 강릉송정DT점           0           0           1           2
3    스타벅스 경기광주송정DT점           0           1           1           3
4    스타벅스 경기광주신현DT점           1           1           3          14
..              ...         ...         ...         ...         ...
247     스타벅스 풍무역DT점           0           2           3           5
248    스타벅스 하남미사DT점           1           2           5           6
249  스타벅스 해운대달맞이DT점           0           1           1           2
250      스타벅스 화곡DT점           2           7          24          60
251    스타벅스 화성병점DT점           3           3           4          13

[252 rows x 5 columns]

In [103]:
merge_df.to_csv('company_count_with_starbucks_distance.csv', sep='\t')

In [68]:
star_company_distance['1km이내회사개수'] = dict_dist[1].values

In [69]:
star_company_distance

                 지점명       기업명    distance  1km이내회사개수
0       스타벅스 강동구청DT점    AJ네트웍스    4.895769        NaN
1       스타벅스 강동구청DT점  AK홀딩스(주)   18.322120        NaN
2       스타벅스 강동구청DT점  AK홀딩스(주)   18.322120        NaN
3       스타벅스 강동구청DT점   BNK금융지주  316.784718        NaN
4       스타벅스 강동구청DT점       BYC   20.217024        NaN
...              ...       ...         ...        ...
460651  스타벅스 화성병점DT점  (주)한화/기계  267.410932        NaN
460652  스타벅스 화성병점DT점  (주)한화/기계   35.398944        NaN
460653  스타벅스 화성병점DT점  (주)한화/기계   21.513410        NaN
460654  스타벅스 화성병점DT점  (주)한화/기계   33.306406        NaN
460655  스타벅스 화성병점DT점  SK Hynix   39.731995        NaN

[460656 rows x 4 columns]

In [62]:
star_company_distance.to_csv('starbucks_company_dist_rawdata.csv', sep='\t')

In [104]:
def find_mindist_starbucks(groupped_df, basis_name='star_name'):
    new_df = {}
#     groupped_df = groupped_df.reset_index(drop=True)
    groupped_df = groupped_df.sort_values(by='distance').reset_index(drop=True)
    new_df['distance'] = groupped_df.loc[:2]['distance']
    new_df[basis_name] = groupped_df.loc[:2][basis_name]

    return pd.Series(new_df, index=[basis_name, 'distance'])

In [105]:
star_company_distance2 = star_company_distance.groupby(['지점명']).apply(lambda x:find_mindist_starbucks(x,'기업명'))
star_company_distance2 = star_company_distance2.reset_index()
star_company_distance2.to_csv('star_company_distance2.csv', sep='\t')

In [106]:
star_company_distance2.loc[0]['distance'].values
# star_company_distance2['distance'].values[0]

array([0.13991513, 0.14842249, 0.45781491])

In [108]:
import numpy as np

In [110]:
star_company_distance3 = pd.DataFrame({'지점명':np.repeat(star_company_distance2.지점명.values, star_company_distance2.기업명.str.len()),
                        '기업명':np.concatenate(star_company_distance2.기업명.values),'distance:':np.concatenate(star_company_distance2.distance.values)})
star_company_distance3

              지점명         기업명  distance:
0    스타벅스 강동구청DT점        일신석재   0.139915
1    스타벅스 강동구청DT점        일신석재   0.148422
2    스타벅스 강동구청DT점       지코(주)   0.457815
3    스타벅스 강동암사DT점       현대홈쇼핑   1.286706
4    스타벅스 강동암사DT점       현대홈쇼핑   1.820245
..            ...         ...        ...
751    스타벅스 화곡DT점          조비   0.971290
752    스타벅스 화곡DT점   동양네트웍스(주)   1.047335
753  스타벅스 화성병점DT점  우리들휴브레인(주)   0.108317
754  스타벅스 화성병점DT점       경동나비엔   0.127057
755  스타벅스 화성병점DT점       경동나비엔   0.127057

[756 rows x 3 columns]

In [111]:
star_company_distance3.to_csv('star_company_distance.csv', sep='\t')

In [112]:
star_company_distance4 = star_company_distance3.groupby(['지점명','기업명'],as_index=False).min()

In [113]:
star_company_distance4 = star_company_distance4.rename(columns={'distance:':'distance'})

In [114]:
star_company_distance4

              지점명         기업명  distance
0    스타벅스 강동구청DT점        일신석재  0.139915
1    스타벅스 강동구청DT점       지코(주)  0.457815
2    스타벅스 강동암사DT점       현대홈쇼핑  1.286706
3    스타벅스 강동암사DT점       휠라홀딩스  2.106145
4    스타벅스 강릉송정DT점        강원랜드  4.689348
..            ...         ...       ...
663    스타벅스 화곡DT점   동양네트웍스(주)  1.047335
664    스타벅스 화곡DT점        이스타코  0.880115
665    스타벅스 화곡DT점          조비  0.971290
666  스타벅스 화성병점DT점       경동나비엔  0.127057
667  스타벅스 화성병점DT점  우리들휴브레인(주)  0.108317

[668 rows x 3 columns]

In [115]:
star_company_distance4 = star_company_distance4.sort_values('distance').reset_index(drop=True)
star_company_distance4.to_csv('star_company_distance.csv', sep='\t')

In [128]:
company_locations

           기업명                            주소   latitude   longitude
0       AJ네트웍스  서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)  37.485262  127.118094
1     AK홀딩스(주)           서울특별시 마포구 양화로 188 -  37.552785  126.918612
2     AK홀딩스(주)                서울 마포구 양화로 188  37.552785  126.918612
3      BNK금융지주        부산광역시 남구 문현금융로 30(문현동)  35.145384  129.065782
4          BYC          서울특별시 영등포구 도림천로21길 3  37.486290  126.901551
...        ...                           ...        ...         ...
1823  (주)한화/기계             경남 창원시 성산구 성산패총로9  35.198385  128.671024
1824  (주)한화/기계    충청남도 아산시 둔포면 해위안길 62번지길 16  36.893872  127.023031
1825  (주)한화/기계           경기도 성남시 분당구 판교로 305  37.398551  127.106815
1826  (주)한화/기계        충청남도 아산시 둔포면 아산밸리로 312  36.913107  127.062119
1827  SK Hynix         경기도 이천시 부발읍 경충대로 2091  37.250125  127.483494

[1828 rows x 4 columns]

In [140]:
def get_company_info(x):
    condition = (company_list['기업명']==x)
    result = company_list.loc[condition,'자본금(원)']
    if len(result) == 0:
        condition = (company_list['기업명'] + '(주)'==x)
        result = company_list.loc[condition,'자본금(원)']
    if len(result) == 0:
        condition = ('(주)'+company_list['기업명']==x)
        result = company_list.loc[condition,'자본금(원)']
    try:
        return result.values[0]
    except:
        return np.nan
star_company_distance4['자본금'] = star_company_distance4['기업명'].map(lambda x:get_company_info(x))

In [122]:
company_list.loc[company_list['기업명']=='x','자본금(원)']

334    897,513,820,000
Name: 자본금(원), dtype: object

In [146]:
star_company_distance4.loc[star_company_distance4['자본금'].isnull(),'자본금'] = '1,309,100,000,000'

In [151]:
star_company_distance4.to_csv('star_company_distance.csv', sep='\t')

In [152]:
star_company_distance4

               지점명      기업명      distance              자본금
0     스타벅스 인천송도DT점       한섬  0.000000e+00   12,315,000,000
1     스타벅스 하남미사DT점  이화산업(주)  7.066210e-13   14,000,000,000
2       스타벅스 연희DT점  대림통상(주)  3.792249e-02   16,425,000,000
3      스타벅스 창원역DT점     주연테크  5.172879e-02   10,675,199,200
4    스타벅스 천안IC DT점      윌비스  1.066963e-01   68,786,482,000
..             ...      ...           ...              ...
663   스타벅스 제주성산DT점  태영건설(주)  3.488613e+01   39,478,740,000
664   스타벅스 전북정읍DT점       한창  3.635265e+01   17,395,134,500
665   스타벅스 충남보령DT점     현대제철  4.034775e+01  667,228,925,000
666     스타벅스 속초DT점     강원랜드  5.495829e+01  106,970,250,000
667     스타벅스 속초DT점       대창  5.543060e+01   45,570,249,500

[668 rows x 4 columns]

In [150]:
star_company_distance4[star_company_distance4['기업명'].map(lambda x:'삼성' in x)]

                  지점명         기업명  distance                자본금
56      스타벅스 수원IC DT점     삼성디스플레이  0.681024  1,309,100,000,000
60       스타벅스 동탄능동DT점        삼성전자  0.746183    897,513,820,000
63       스타벅스 안양비산DT점     삼성공조(주)  0.760896      4,063,157,000
95   스타벅스 안양운동장사거리DT점     삼성공조(주)  0.966867      4,063,157,000
102      스타벅스 광주선운DT점        삼성전자  1.006450    897,513,820,000
106      스타벅스 광주수완DT점        삼성전자  1.038025    897,513,820,000
130        스타벅스 제천DT점  삼성엔지니어링(주)  1.189667    980,000,000,000
146      스타벅스 수원망포DT점     삼성전자(주)  1.251049    897,513,820,000
215       스타벅스 신영통DT점        삼성전자  1.678785    897,513,820,000
258    스타벅스 수원KBS DT점     삼성전기(주)  1.910795    388,003,400,000
285      스타벅스 광주용두DT점        삼성전자  1.984199    897,513,820,000
308      스타벅스 인천동춘DT점  삼성엔지니어링(주)  2.127190    980,000,000,000
319      스타벅스 용인보라DT점    삼성SDI(주)  2.173309    356,712,130,000
345      스타벅스 하남미사DT점  삼성엔지니어링(주)  2.354995    980,000,000,000
442      스타벅스 평택서정DT점        삼성전자  3.183831    897,513,820,000
493      스타벅스 용인상하DT점    삼성SDI(주)  3.795586    356,712,130,000

In [236]:
start_bucks_dt = start_bucks_dt[start_bucks_dt['SORT'] == '스타벅스'].reset_index(dr)

In [246]:
start_bucks_dt = start_bucks_dt.rename(columns={'mac_name':'지점명'})

In [247]:
start_bucks_dt

               지점명   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810016  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [26]:
start_bucks_loc = pd.read_csv('../starbucksDT/starbucksDT_location_info_20200707.csv', sep='\t', index_col=0)

In [42]:
start_bucks_loc_select = start_bucks_loc[start_bucks_loc['지점명']=='스타벅스 리버사이드팔당DTR점'].reset_index(drop=True)

In [43]:
start_bucks_loc_select

                지점명   latitude   longitude     address
0  스타벅스 리버사이드팔당DTR점  37.567097  127.228378  도곡리 504-15

In [44]:
company_locations

           기업명                            주소   latitude   longitude
0       AJ네트웍스  서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)  37.485262  127.118094
1     AK홀딩스(주)           서울특별시 마포구 양화로 188 -  37.552785  126.918612
2     AK홀딩스(주)                서울 마포구 양화로 188  37.552785  126.918612
3      BNK금융지주        부산광역시 남구 문현금융로 30(문현동)  35.145384  129.065782
4          BYC          서울특별시 영등포구 도림천로21길 3  37.486290  126.901551
...        ...                           ...        ...         ...
1823  (주)한화/기계             경남 창원시 성산구 성산패총로9  35.198385  128.671024
1824  (주)한화/기계    충청남도 아산시 둔포면 해위안길 62번지길 16  36.893872  127.023031
1825  (주)한화/기계           경기도 성남시 분당구 판교로 305  37.398551  127.106815
1826  (주)한화/기계        충청남도 아산시 둔포면 아산밸리로 312  36.913107  127.062119
1827  SK Hynix         경기도 이천시 부발읍 경충대로 2091  37.250125  127.483494

[1828 rows x 4 columns]

In [46]:
rows2 = get_distances_with_df(df1=start_bucks_loc_select, df2=company_locations, df1_basis='지점명', df2_basis='기업명' )

<ipython-input-45-60d24b432f9c>:31: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  distance = geopy.distance.vincenty(coord1, coord2).km

In [54]:
one_star_comp_dist = pd.DataFrame(rows2)
one_star_comp_dist2 = one_star_comp_dist.groupby(['지점명','기업명'],as_index=False).min()
one_star_comp_dist2.sort_values('distance')

                  지점명         기업명      distance
81   스타벅스 리버사이드팔당DTR점     고려개발(주)      2.260956
461  스타벅스 리버사이드팔당DTR점     이화산업(주)      3.458007
457  스타벅스 리버사이드팔당DTR점        이스타코      4.173619
282  스타벅스 리버사이드팔당DTR점     삼성물산(주)      5.101365
286  스타벅스 리버사이드팔당DTR점  삼성엔지니어링(주)      5.109276
..                ...         ...           ...
253  스타벅스 리버사이드팔당DTR점      바다로19호    455.596002
492  스타벅스 리버사이드팔당DTR점        제주항공    457.013782
616  스타벅스 리버사이드팔당DTR점       한라(주)    464.286802
368  스타벅스 리버사이드팔당DTR점       신원(주)    480.180957
401  스타벅스 리버사이드팔당DTR점  에이프로젠제약(주)  13204.506641

[710 rows x 3 columns]

In [51]:
pd.read_csv('star_company_distance.csv', sep='\t',index_col=0)

             지점명        기업명   distance
0      스타벅스 연희DT    대림통상(주)   0.038625
1     스타벅스 창원역DT       주연테크   0.048103
2      스타벅스 신림DT       모나리자   0.056810
3    스타벅스 인천송도DT  한국단자공업(주)   0.101525
4      스타벅스 천안IC        윌비스   0.108159
..           ...        ...        ...
664  스타벅스 제주성산DT    태영건설(주)  35.794713
665  스타벅스 전북정읍DT         한창  36.352651
666  스타벅스 충남보령DT       현대제철  40.347745
667    스타벅스 속초DT       강원랜드  54.958288
668    스타벅스 속초DT         대창  55.430599

[669 rows x 3 columns]

In [317]:
x = pd.read_csv('/Users/dhkim/PycharmProjects/company_list/전국관광지정보표준데이터-20200702.csv',encoding='utf-8')
column_maps = {unnamed:col for unnamed, col in zip (x.columns, x.loc[0,:].values)}

In [321]:
# x = x.loc[1:,:].rename(columns=column_maps)
x.head()

,관광지명,관광지구분,소재지도로명주소,소재지지번주소,위도,경도,면적,공공편익시설정보,숙박시설정보,운동및오락시설정보,...,지원시설정보,지정일자,수용인원수,주차가능수,관광지소개,관리기관전화번호,관리기관명,데이터기준일자,제공기관코드,제공기관명
1,공룡박물관,관광지,전라남도 해남군 황산면 공룡박물관길 234,전라남도 해남군 황산면 우항리 191,34.5890888499,126.442833,332610,"휴게실, 매점",해당없음,해당없음,...,주차장,2017-04-27,3000,500,천연기념물 제394호,061-530-5941,해남군,2019-06-11,4930000,전라남도 해남군
2,아우라지관광지,관광지,"강원도 정선군 여량면 여량리, 유천리 일원",NaN,37.475854,128.724151,122244,관리사무소(1동)+화장실(3동)+수변산책로+데크산책로,NaN,NaN,...,NaN,2002-09-13,1260,200,"여량면 여량리에 위치해 있으며, 강원도 무형문화재 제1호인 정선 아리랑의 대표적인 ...",033-560-2399,강원도 정선군청,2019-06-30,4290000,강원도 정선군
3,화암관광지,관광지,강원도 정선군 화암면 화암리 540번지 일원,NaN,37.350854,128.790064,213235,관리사무소(3동)+오수처리장(2동)+화장실(6동)+주차장(3개소)+동굴관리소(2동)...,NaN,NaN,...,NaN,1977-03-17,3000,576,화암동굴과 화암약수 등 천혜의 자연자원과 청정한 주변 환경으로 인한 개발 잠재력이 ...,033-560-3415,정선군 시설관리공단,2019-06-30,4290000,강원도 정선군
4,창평슬로시티,관광지,전라남도 담양군 창평면 돌담길 56-24,전라남도 담양군 창평면 창평리 113-1,35.2352508415,127.0178937631,15680,"관리사무소, 공중화장실","돌담집 민박, 한옥애, 하심당 등",NaN,...,NaN,2007-12-01,470,300,담양은 예로부터의 고택이 많이 남아 있으며 아직도 인근에 문화재가 많이 있다. 도심...,061-380-3152,담양군청 녹색관광과(관광정책계),2019-09-17,4850000,전라남도 담양군
5,한국가사문학관,관광지,전라남도 담양군 가사문학면 가사문학로 877,전라남도 담양군 가사문학면 지곡리 319,35.1879635114,127.0054853524,2022,"한옥형 본관, 매표소, 화장실 등",NaN,NaN,...,NaN,2018-04-11,250,90,"가사문학 관련 문화유산의 전승, 보전과 현대적 계승, 발전을 위하여 2000년 10...",061-380-2701,담양군청 문화체육과(가사문학계),2019-09-17,4850000,전라남도 담양군

In [326]:
trip_advisor_ = x[['관광지명', '위도', '경도', '면적', '수용인원수']]
trip_advisor = trip_advisor_.rename(columns={'위도':'latitude', '경도':'longitude'})
trip_advisor = trip_advisor.reset_index(drop=True)
trip_advisor

          관광지명       latitude       longitude       면적  수용인원수
0        공룡박물관  34.5890888499      126.442833   332610   3000
1      아우라지관광지      37.475854      128.724151   122244   1260
2        화암관광지      37.350854      128.790064   213235   3000
3       창평슬로시티  35.2352508415  127.0178937631    15680    470
4      한국가사문학관  35.1879635114  127.0054853524     2022    250
..         ...            ...             ...      ...    ...
431       구암서원  35.8988159169  128.5990001332    65000    500
432       함지공원     35.9424608      128.570482    44385  10000
433  경북대학교 캠퍼스  35.8890984884  128.6143216921  1317639  50000
434     금호강하중도      35.900092      128.559326   223000  50000
435    팔달대교 야경      35.895353      128.550766    10000   1000

[436 rows x 5 columns]

In [324]:
start_bucks_dt

               지점명   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810016  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [327]:
trip_rows = get_distances_with_df(df1=start_bucks_dt, df2=trip_advisor, df1_basis='지점명', df2_basis='관광지명' )

<ipython-input-245-17b22cb07c41>:31: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  distance = geopy.distance.vincenty(coord1, coord2).km

In [329]:
star_trip_distance = pd.DataFrame(trip_rows)
star_trip_distance
star_trip_distance = star_trip_distance.rename(columns={'loc_name':'지점명', 'loc_name2':'관광지명'})
star_trip_distance

                  지점명       관광지명    distance
0         스타벅스 울산신정DT      공룡박물관  283.406265
1         스타벅스 울산신정DT    아우라지관광지  221.002828
2         스타벅스 울산신정DT      화암관광지  206.132412
3         스타벅스 울산신정DT     창평슬로시티  212.362654
4         스타벅스 울산신정DT    한국가사문학관  214.440284
...               ...        ...         ...
110739  스타벅스 수원경수인계DT       구암서원  206.999148
110740  스타벅스 수원경수인계DT       함지공원  201.690224
110741  스타벅스 수원경수인계DT  경북대학교 캠퍼스  208.727880
110742  스타벅스 수원경수인계DT     금호강하중도  204.498566
110743  스타벅스 수원경수인계DT    팔달대교 야경  204.380357

[110744 rows x 3 columns]

In [330]:


def find_mindist_starbucks(groupped_df, basis_name='star_name'):
    new_df = {}
#     groupped_df = groupped_df.reset_index(drop=True)
    groupped_df = groupped_df.sort_values(by='distance').reset_index(drop=True)
    new_df['distance'] = groupped_df.loc[:2]['distance']
    new_df[basis_name] = groupped_df.loc[:2][basis_name]

    return pd.Series(new_df, index=[basis_name, 'distance'])

star_trip_distance2 = star_trip_distance.groupby(['지점명']).apply(lambda x:find_mindist_starbucks(x,'관광지명'))
star_trip_distance2 = star_trip_distance2.reset_index()
# star_trip_distance2.to_csv('star_trip_distance.csv', sep='\t')
star_trip_distance2

,지점명,관광지명,distance
0,스타벅스 강동구청DT,0 이성산성 1 고구려대장간마을 2 광주향교 Name...,0 5.441880 1 5.978331 2 6.642934 Name...
1,스타벅스 강동암사DT,0 고구려대장간마을 1 이성산성 2 광주향교 Name...,0 3.241861 1 5.892129 2 7.062513 Name...
2,스타벅스 강릉송정DT,0 망상 1 무릉계곡 2 아우라지관광지 Name: 관...,0 24.171146 1 35.150237 2 37.235177 N...
3,스타벅스 거제대로DT,0 포로수용소유적공원 1 거제박물관 2 문동휴양지 N...,0 2.408827 1 4.281308 2 4.478642 Name...
4,스타벅스 경기광주송정DT,0 중대물빛공원 1 경안천습지생태공원 2 경기도자박물관 N...,0 3.813996 1 6.772884 2 9.339831 Name...
...,...,...,...
249,스타벅스 풍무역DT,0 김포 장릉 1 현대프리미엄아울렛 2 아라뱃길김포터미널 N...,0 2.158636 1 4.502756 2 4.633258 Name...
250,스타벅스 하남미사DT,"0 유니온파크 1 이성산성 2 광주향교 Name: 관광지명, d...",0 3.418742 1 3.854403 2 4.343745 Name...
251,스타벅스 해운대달맞이DT,0 해운대해수욕장 1 달맞이동산지구 2 동백섬 Name: 관...,0 1.033886 1 1.116208 2 2.079000 Name...
252,스타벅스 화곡DT,0 허준근린공원 1 허가바위 2 양천향교 Name: 관광지명...,0 3.696467 1 4.021010 2 4.664128 Name...
253,스타벅스 화성병점DT,0 중대물빛공원 1 헌인릉 2 매헌 윤봉...,0 25.705760 1 28.219865 2 28.815553 N...

In [331]:

star_trip_distance2.loc[0]['distance'].values
# star_company_distance2['distance'].values[0]

star_trip_distance3 = pd.DataFrame({'지점명':np.repeat(star_trip_distance2.지점명.values, star_trip_distance2.관광지명.str.len()),
                        '관광지명':np.concatenate(star_trip_distance2.관광지명.values),'distance:':np.concatenate(star_trip_distance2.distance.values)})
star_trip_distance3

             지점명          관광지명  distance:
0    스타벅스 강동구청DT          이성산성   5.441880
1    스타벅스 강동구청DT      고구려대장간마을   5.978331
2    스타벅스 강동구청DT          광주향교   6.642934
3    스타벅스 강동암사DT      고구려대장간마을   3.241861
4    스타벅스 강동암사DT          이성산성   5.892129
..           ...           ...        ...
757    스타벅스 화곡DT          허가바위   4.021010
758    스타벅스 화곡DT          양천향교   4.664128
759  스타벅스 화성병점DT        중대물빛공원  25.705760
760  스타벅스 화성병점DT           헌인릉  28.219865
761  스타벅스 화성병점DT  매헌 윤봉길의사 기념관  28.815553

[762 rows x 3 columns]

In [333]:
star_trip_distance4 = star_trip_distance3.groupby(['지점명', '관광지명'],as_index=False).min()
star_trip_distance4 = star_trip_distance4.rename(columns={'distance:':'distance'})
star_trip_distance4 = star_trip_distance4.sort_values('distance').reset_index(drop=True)
star_trip_distance4.to_csv('star_trip_distance.csv', sep='\t')
star_trip_distance4

               지점명     관광지명   distance
0      스타벅스 제주중문DT    천제연폭포   0.349134
1      스타벅스 온천장역DT      허심청   0.470208
2      스타벅스 동래미남DT   우장춘기념관   0.699527
3     스타벅스 부산교대역DT   우장춘기념관   0.699527
4       스타벅스 낙성대DT   강감찬전시관   0.705601
..             ...      ...        ...
757  스타벅스 경주보문호수DT      작괘천  37.251925
758   스타벅스 경주보문로DT      작괘천  37.251925
759    스타벅스 포항장성DT  주왕산 관광지  41.819833
760    스타벅스 포항죽도DT  주왕산 관광지  45.422089
761    스타벅스 포항쌍용DT  주왕산 관광지  45.858396

[762 rows x 3 columns]

In [335]:
star_trip_distance4[star_trip_distance4['distance']<2]

              지점명         관광지명  distance
0     스타벅스 제주중문DT        천제연폭포  0.349134
1     스타벅스 온천장역DT          허심청  0.470208
2     스타벅스 동래미남DT       우장춘기념관  0.699527
3    스타벅스 부산교대역DT       우장춘기념관  0.699527
4      스타벅스 낙성대DT       강감찬전시관  0.705601
5      스타벅스 낙성대DT     미당서정주의 집  0.799259
6       스타벅스 밀양DT        밀양영남루  0.819831
7   스타벅스 마산해안대로DT    마산해양레포츠센터  0.858530
8     스타벅스 대구침산DT        꽃보라동산  0.864522
9     스타벅스 인천동춘DT        가천박물관  0.876858
10     스타벅스 남양산IC         양산타워  0.918377
11    스타벅스 대전대사DT        아쿠아리움  0.928318
12   스타벅스 풍무사거리DT        김포 장릉  0.950700
13    스타벅스 계룡대로DT    이심원충신정려현판  0.965536
14    스타벅스 군산나운DT        은파관광지  1.004226
15    스타벅스 온천장역DT     해양자연사박물관  1.018836
16  스타벅스 해운대달맞이DT      해운대해수욕장  1.033886
17      스타벅스 밀양DT         밀양관아  1.057865
18    스타벅스 부산안락DT          충렬사  1.080417
19    스타벅스 온천장역DT         금강공원  1.095149
20  스타벅스 해운대달맞이DT      달맞이동산지구  1.116208
21    스타벅스 인천송도DT      컴팩스마트시티  1.164329
22    스타벅스 대구칠성DT        꽃보라동산  1.176768
23    스타벅스 대구침산DT          침산정  1.251223
24    스타벅스 인천동춘DT    인천상륙작전기념관  1.350614
25    스타벅스 김해외동DT      김해한옥체험관  1.382057
26    스타벅스 김포풍무DT        김포 장릉  1.384069
27      스타벅스 방화DT          약사사  1.402329
28    스타벅스 대구침산DT         구암서원  1.414457
29    스타벅스 동래미남DT         금강공원  1.419806
30   스타벅스 부산교대역DT         금강공원  1.419806
31    스타벅스 김해구산DT      국립김해박물관  1.420886
32    스타벅스 김해외동DT         수로왕릉  1.447295
33   스타벅스 을숙도강변DT     을숙도 생태공원  1.461211
34     스타벅스 다대포DT  낙동강하구아미산전망대  1.603213
35    스타벅스 동래미남DT      장영실과학동산  1.625604
36   스타벅스 부산교대역DT      장영실과학동산  1.625604
37    스타벅스 부산안락DT      박차정의사생가  1.641321
38     스타벅스 다대포DT          몰운대  1.699318
39     스타벅스 다대포DT  다대포 꿈의 낙조분수  1.699318
40   스타벅스 을숙도강변DT     을숙도 철새공원  1.708732
41    스타벅스 진해자은DT    진해해양레포츠센터  1.714695
42    스타벅스 명지강변DT     을숙도 철새공원  1.716275
43    스타벅스 명지강변DT     을숙도 생태공원  1.788164
44    스타벅스 김해외동DT      국립김해박물관  1.806442
45  스타벅스 대구칠곡대로DT      운암지수변공원  1.889440
46    스타벅스 김해구산DT        김해천문대  1.910194
47    스타벅스 김해대로DT         수로왕릉  1.916353
48    스타벅스 대구칠성DT    경북대학교 캠퍼스  1.927386
49    스타벅스 김해대로DT      김해한옥체험관  1.939557
50      스타벅스 방화DT    궁산땅굴역사전시관  1.947922
51    스타벅스 부산재송DT    요트올림픽동산지구  1.981306